# Web scraping assignment 4

In [291]:
! pip install selenium

WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)

In [292]:
#importing all required libraries
import selenium                # library to work with selenium
from selenium import webdriver # library to open up automated chrome window
from selenium.webdriver.common.by import By
import pandas as pd            # to make dataframe
import numpy as np             # to make numerical operations
import time                    # to stop search enginge for few seconds
import warnings
warnings.filterwarnings('ignore')  # ignores any kind of warnings
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [293]:
# first connect to the web driver
driver1=webdriver.Chrome(r'C:\Users\Ismail\Desktop\chromedriver.exe')
time.sleep(5)

In [294]:
# opening up website on automated webdriver
driver1.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [295]:
data1 = driver1.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td')

Data1 = []

for i in data1[:179]:

    Data1.append(i.text)

In [296]:
rank1=[]
name1=[]
artist1=[]
upload_date1=[]
views1=[]

rank1=Data1[:72:6]+Data1[72::6]

name1=Data1[1:72:6]+Data1[73::6]

artist1=Data1[2:72:6]+Data1[74::6]

upload_date1=Data1[4:72:6]+Data1[76::6]

views1=Data1[3:72:6]+Data1[75::6]

In [297]:
# checking length
len(rank1), len(name1), len(artist1), len(upload_date1), len(views1)

(30, 30, 30, 30, 30)

In [298]:
driver1.close()

In [299]:
# creating dataframe
dt={'Rank':rank1,'Name':name1,'Artist':artist1,'Upload_date':upload_date1,'Views':views1}
youtube_df1=pd.DataFrame(dt)

# dataframe
youtube_df1

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.87
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.89
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.38
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.75
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.55
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.47
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.70
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.61
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.58
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.46
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.16
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.96
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.72
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.61
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.60
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.56
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.46
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.40
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.31
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.30
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.29
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.27
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.25
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.23
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.22
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.19
27,28.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.18
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.18
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.10

=====================================================================================================================

2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [300]:
# first connect to the web driver
driver2=webdriver.Chrome(r'C:\Users\Ismail\Desktop\chromedriver.exe')
time.sleep(5)

In [301]:
# opening up website on automated webdriver
driver2.get('https://www.bcci.tv/')

In [302]:
international = driver2.find_element(By.XPATH, '/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international.click()

In [303]:
Match_title2=[]
Series2=[]
Place2=[]
Date2=[]
Time2=[]

match_title2 = driver2.find_elements(By.XPATH, '//span[@class="matchOrderText ng-binding ng-scope"]')
for i in match_title2:
    Match_title2.append(i.text.replace('-',''))


series2 = driver2.find_elements(By.XPATH, '//span[@class="ng-binding"]')
for i in series2:
    Series2.append(i.text)
    

place2 = driver2.find_elements(By.XPATH, '//span[@class="ng-binding ng-scope"]')
for i in place2:
    Place2.append(i.text)

    
date2 = driver2.find_elements(By.XPATH, '//h5[@class="ng-binding"]')
for i in date2:
    Date2.append(i.text)

    
time2 = driver2.find_elements(By.XPATH, '//h5[@class="text-right ng-binding"]')
for i in time2:
    Time2.append(i.text)

In [304]:
len(Match_title2), len(series2), len(Place2), len(Date2), len(Time2)

(4, 4, 4, 4, 4)

In [305]:
# creating dataframe
dt2={'Match_title':Match_title2,'Series':Series2,'Place':Place2,'Date':Date2,'Time':Time2}
cricket_df2=pd.DataFrame(dt2)

# dataframe
cricket_df2

,Match_title,Series,Place,Date,Time
0,1st ODI,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,"Pallekele International Cricket Stadium,",1 JUL 2022,10:00 AM IST
1,5th Test,INDIA TOUR OF ENGLAND TEST SERIES 2021,"Edgbaston,",1 JUL 2022,3:00 PM IST
2,2nd ODI,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,"Pallekele International Cricket Stadium,",4 JUL 2022,10:00 AM IST
3,3rd ODI,INDIA WOMEN TOUR OF SRI LANKA ODI SERIES 2022,"Pallekele International Cricket Stadium,",7 JUL 2022,10:00 AM IST

In [306]:
driver2.close()

======================================================================================================================

3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [307]:
# first connect to the web driver
driver3=webdriver.Chrome(r'C:\Users\Ismail\Desktop\chromedriver.exe')
time.sleep(5)

In [308]:
# opening up website on automated webdriver
driver3.get('https://www.guru99.com/')
time.sleep(10)

In [310]:
#finding elements for user input
search_=driver3.find_element(By.XPATH, '/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input')
search_.send_keys('selenium exception handling')

In [311]:
search_button=driver3.find_element(By.XPATH, '/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button')
search_button.click()

In [312]:
for _ in range(20):
    driver3.execute_script('window.scrollBy(0,3)')

In [313]:
#scraping  url    
Exception_url=[]    
exception_url=driver3.find_elements(By.XPATH,'//a[@class="gs-title"]')
for d in exception_url[1:2]:
    Exception_url.append(d.get_attribute('href'))

In [314]:
Exception_url

['https://www.guru99.com/exception-handling-selenium.html']

In [315]:
driver3.close()

In [317]:
Data3=[]

for i in Exception_url:
    driver=webdriver.Chrome(r'C:\Users\Ismail\Desktop\chromedriver.exe')
    driver.get(i)
    time.sleep(5)
    
    data_tags=driver.find_elements(By.XPATH, '//table[@class="table table-striped"]/tbody/tr/td')
    for j in data_tags:
        Data3.append(j.text)
        
    driver.close()

In [318]:
Name3=Data3[:82:2]
Description3=Data3[1:82:2]

In [319]:
len(Name3), len(Description3)

(41, 41)

In [320]:
# creating dataframe
dt3={'Name':Name3,'Description':Description3}
Exception_df3=pd.DataFrame(dt3)

# dataframe
Exception_df3

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

====================================================================================================================

4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)

In [349]:
# first connect to the web driver
driver4=webdriver.Chrome(r'C:\Users\Ismail\Desktop\chromedriver.exe')
time.sleep(5)

In [350]:
# opening up website on automated webdriver
driver4.get('https://www.statisticstimes.com/')

In [351]:
#clicking on economy
economy=driver4.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [352]:
India=driver4.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
India.click()

In [353]:
state_gdp=driver4.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
state_gdp.click()
time.sleep(10)

In [354]:
rank4 = driver4.find_elements(By.XPATH, '//td[@class="data1"]')

Rank4 = []

for i in rank4[:33]:

    Rank4.append(i.text)
    
    
state4 = driver4.find_elements(By.XPATH, '//td[@class="name"]')

State4 = []

for i in state4[:33]:

    State4.append(i.text)
    
    
gsdp_18_19 = driver4.find_elements(By.XPATH, '//td[@class="data sorting_1"]')

GSDP_18_19 = []

for i in gsdp_18_19[:33]:

    GSDP_18_19.append(i.text)
    

    
data4= driver4.find_elements(By.XPATH, '//td[@class="data"]')

Data4= []

for i in data4:

    Data4.append(i.text)

In [355]:
GSDP_19_20=Data4[0:161:5]
Share_18_19=Data4[1:162:5]
GDP_billion=Data4[2:163:5]
GSDP_Cr_INR_at_2011_12_prices_19_20=Data4[3:164:5]
GSDP_Cr_INR_at_2011_12_prices_18_19=Data4[4:165:5]

In [356]:
len(Rank4), len(State4), len(GSDP_18_19), len(GSDP_19_20), len(Share_18_19), len(GDP_billion), len(GSDP_Cr_INR_at_2011_12_prices_19_20), len(GSDP_Cr_INR_at_2011_12_prices_18_19)

(33, 33, 33, 33, 33, 33, 33, 33)

In [357]:
driver4.close()

In [358]:
# creating dataframe
dt4={'Rank':Rank4,'State':State4, 'GSDP_19-20(Cr INR at Current prices)':GSDP_19_20,'GSDP_18-19(Cr INR at Current prices)':GSDP_18_19,'Share_18_19':Share_18_19, 'GDP($billion)':GDP_billion, 'GSDP_19-20(Cr INR at 2011-12 prices)':GSDP_Cr_INR_at_2011_12_prices_19_20,'GSDP_18-19( (Cr INR at 2011-12 prices)':GSDP_Cr_INR_at_2011_12_prices_18_19}
Indian_state_wise_GDP_df3=pd.DataFrame(dt4)

# dataframe
Indian_state_wise_GDP_df3

,Rank,State,GSDP_19-20(Cr INR at Current prices),GSDP_18-19(Cr INR at Current prices),Share_18_19,GDP($billion),GSDP_19-20(Cr INR at 2011-12 prices),GSDP_18-19( (Cr INR at 2011-12 prices)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921,-,"2,039,074"
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629,"1,312,929","1,215,307"
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726,"1,166,817","1,123,982"
3,4,Gujarat,-,"1,502,899",7.96%,228.290,-,"1,186,379"
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806,"1,156,039","1,091,077"
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556,"793,223","739,525"
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179,"711,627","677,428"
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083,"672,018","621,301"
8,9,Telangana,"969,604","861,031",4.56%,130.791,"663,258","612,828"
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977,"561,801","522,009"
10,11,Kerala,-,"781,653",4.14%,118.733,-,"559,412"
11,12,Delhi,"856,112","774,870",4.10%,117.703,"634,408","590,569"
12,13,Haryana,"831,610","734,163",3.89%,111.519,"572,240","531,085"
13,14,Bihar,"611,804","530,363",2.81%,80.562,"414,977","375,651"
14,15,Punjab,"574,760","526,376",2.79%,79.957,"418,868","397,669"
15,16,Odisha,"521,275","487,805",2.58%,74.098,"396,499","376,877"
16,17,Assam,-,"315,881",1.67%,47.982,-,"234,048"
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187,"243,477","231,182"
18,19,Jharkhand,"328,598","297,204",1.57%,45.145,"240,036","224,986"
19,20,Uttarakhand,-,"245,895",1.30%,37.351,-,"193,273"
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690,-,"112,755"
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369,"124,403","117,851"
22,23,Goa,"80,449","73,170",0.39%,11.115,"63,408","57,787"
23,24,Tripura,"55,984","49,845",0.26%,7.571,"40,583","36,963"
24,25,Chandigarh,-,"42,114",0.22%,6.397,-,"31,192"
25,26,Puducherry,"38,253","34,433",0.18%,5.230,"25,093","23,013"
26,27,Meghalaya,"36,572","33,481",0.18%,5.086,"26,695","24,682"
27,28,Sikkim,"32,496","28,723",0.15%,4.363,"20,017","18,722"
28,29,Manipur,"31,790","27,870",0.15%,4.233,"20,673","19,300"
29,30,Nagaland,-,"27,283",0.14%,4.144,-,"17,647"
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737,-,"16,676"
31,32,Mizoram,"26,503","22,287",0.12%,3.385,"18,797","16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-,-,-

=======================================================================================================================

5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [359]:
# first connect to the web driver
driver5=webdriver.Chrome(r'C:\Users\Ismail\Desktop\chromedriver.exe')
time.sleep(5)

In [360]:
# opening up website on automated webdriver
driver5.get('https://github.com/')

In [361]:
#clicking on explore
explore=driver5.find_element(By.XPATH, '/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore.click()

In [362]:
# clicking trending
trending=driver5.find_element(By.XPATH, '/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
trending.click()

In [363]:
tittle5 = driver5.find_elements(By.XPATH, '//h1[@class="h3 lh-condensed"]')

Tittle5 = []

for i in tittle5:

    Tittle5.append(i.text)

In [364]:
description5 = driver5.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]')

Description5 = []

for i in description5:

    Description5.append(i.text)

In [365]:
contributors5 = driver5.find_elements(By.XPATH, '//a[@class="Link--muted d-inline-block mr-3"]')

Contributors5 = []

for i in contributors5[1::2]:

    Contributors5.append(i.text)

In [377]:
language5 = driver5.find_elements(By.XPATH, '//span[@class="d-inline-block ml-0 mr-3"]')

Language5 = []

for i in language5:
    if (i.text==None):
        Language5.append('-')
    else:
        Language5.append(i.text)

In [378]:
Language5.insert(3, '-')
Language5.insert(4, '-')
Language5.insert(17, '-')
Language5.insert(19,'-')

In [380]:
len(Tittle5), len(Description5), len(Contributors5), len(Language5)

(25, 25, 25, 25)

In [381]:
driver5.close()

In [382]:
# creating dataframe
dt5={' Repository title':Tittle5,'Repository description':Description5, 'Contributors count':Contributors5, 'Language used':Language5 }
github_df5=pd.DataFrame(dt5)

# dataframe
github_df5

,Repository title,Repository description,Contributors count,Language used
0,delta-io / delta,An open-source storage framework that enables ...,"1,076",Scala
1,denoland / fresh,The next-gen web framework.,120,TypeScript
2,Azure / azureml-examples,Official community-driven Azure Machine Learni...,420,Jupyter Notebook
3,dair-ai / ML-Course-Notes,🎓 Sharing course notes on all topics related t...,420,-
4,edoardottt / awesome-hacker-search-engines,A list of search engines useful during Penetra...,98,-
5,qq8e / qq,8亿QQ绑定数据泄露查询源码，附送数据。不定期更新下载地址 关注越多送的越多,150,CSS
6,bregman-arie / devops-exercises,"Linux, Jenkins, AWS, SRE, Prometheus, Docker, ...","5,691",Python
7,facebook / folly,An open-source C++ library developed and used ...,"4,706",C++
8,storybookjs / storybook,"📓 The UI component explorer. Develop, document...","7,474",TypeScript
9,jinfagang / yolov7,🔥🔥🔥🔥 YOLO with Transformers and Instance Segme...,218,Python
10,ascoders / weekly,前端精读周刊。帮你理解最前沿、实用的技术。,"2,308",JavaScript
11,D3Ext / WEF,Wi-Fi Exploitation Framework,70,Hack
12,remix-run / remix,"Build Better Websites. Create modern, resilien...","1,386",TypeScript
13,dotnet / maui,".NET MAUI is the .NET Multi-platform App UI, a...",948,C#
14,directus / directus,The Modern Data Stack 🐰 — Directus is an insta...,"1,906",TypeScript
15,aolofsson / awesome-opensource-hardware,List of awesome open source hardware projects,7,Python
16,GrowingGit / GitHub-Chinese-Top-Charts,🇨🇳 GitHub中文排行榜，各语言分设「软件 | 资料」榜单，精准定位中文好项目。各取所需...,"6,766",Java
17,Hack-with-Github / Awesome-Hacking,A collection of various awesome lists for hack...,"7,958",-
18,MichaelCade / 90DaysOfDevOps,This repository is my documenting repository f...,"2,517",Shell
19,lydiahallie / javascript-questions,A long list of (advanced) JavaScript questions...,"6,312",-
20,vercel / next.js,The React Framework,"19,051",JavaScript
21,kuprel / min-dalle,min(DALL·E) is a minimal implementation of DAL...,119,Python
22,kubernetes-sigs / kubespray,Deploy a Production Ready Kubernetes Cluster,"5,307",Jinja
23,vim / vim,The official Vim repository,"4,248",Vim script
24,qiangmzsx / Software-Engineering-at-Google,《Software Engineering at Google》的中文翻译版本,160,HTML

6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [383]:
#first connect to webdriver
driver6=webdriver.Chrome(r'C:\Users\Ismail\Desktop\chromedriver.exe')
time.sleep(5)

In [384]:
# opening up website on automated webdriver
driver6.get('https://www.billboard.com/')

In [385]:
#clicking on charts
charts=driver6.find_element(By.XPATH, '/html/body/div[3]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a')
charts.click()

In [386]:
#clicking on hot 100
hot_1oo=driver6.find_element(By.XPATH, '/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a')
hot_1oo.click()

In [387]:
name5 = driver6.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]//h3')

Name5 = []

for i in name5:

    Name5.append(i.text)

In [388]:
week_rank5 = driver6.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]//span')

Week_rank5 = []

for i in week_rank5[1::7]:

    Week_rank5.append(i.text)

In [389]:
artist5 = driver6.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]//span')

Artist5 = []

for i in artist5[::7]:

    Artist5.append(i.text)

In [390]:
peak_rank5 = driver6.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]//span')

Peak_rank5 = []

for i in peak_rank5[2::7]:

    Peak_rank5.append(i.text)

In [391]:
weeks_on_board5 = driver6.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]//span')

Weeks_on_board5 = []

for i in weeks_on_board5[3::7]:

    Weeks_on_board5.append(i.text)

In [392]:
len(Name5), len(Week_rank5), len(Artist5), len(Peak_rank5), len(Weeks_on_board5)

(100, 100, 100, 100, 100)

In [393]:
driver6.close()

In [394]:
# creating dataframe
dt6={'Song_name':Name5,'Artist_name':Artist5, 'Last_Week_rank':Week_rank5, 'Peak_rank':Peak_rank5, 'Weeks_on_board':Weeks_on_board5 }
Billiboard_df6=pd.DataFrame(dt6)

# dataframe
Billiboard_df6

,Song_name,Artist_name,Last_Week_rank,Peak_rank,Weeks_on_board
0,Jimmy Cooks,Drake Featuring 21 Savage,-,1,1
1,As It Was,Harry Styles,1,1,12
2,First Class,Jack Harlow,2,1,11
3,Wait For U,Future Featuring Drake & Tems,3,1,8
4,About Damn Time,Lizzo,4,4,10
...,...,...,...,...,...
95,N95,Kendrick Lamar,72,3,6
96,Love Me More,Sam Smith,93,93,3
97,New Truck,Dylan Scott,99,98,2
98,She's All I Wanna Be,Tate McRae,68,44,20
99,Desesperados,Rauw Alejandro & Chencho Corleone,94,91,6

======================================================================================================================

7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [395]:
#first connect to webdriver
driver7=webdriver.Chrome(r'C:\Users\Ismail\Desktop\chromedriver.exe')
time.sleep(5)

In [396]:
# opening up website on automated webdriver
driver7.get('https://www.naukri.com/')

In [397]:
#clicking on charts
search_box=driver7.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_box.send_keys('Data science')

In [398]:
click_search=driver7.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
click_search.click()

In [399]:
recruiters=driver7.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/ul[1]/li[2]/a/div')
recruiters.click()

In [400]:
driver7.get('https://www.naukri.com/hr-recruiters-consultants')

In [401]:
#clicking on charts
search_boxa=driver7.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search_boxa.send_keys('Data science')

In [402]:
click_search=driver7.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
click_search.click()

In [403]:
name7 = driver7.find_elements(By.XPATH, '//span[@class="fl ellipsis"]')

Name7 = []

for i in name7:

    Name7.append(i.text)

In [404]:
designation7 = driver7.find_elements(By.XPATH, '//span[@class="ellipsis clr"]')

Designation7 = []

for i in designation7:

    Designation7.append(i.text)

In [405]:
company7 = driver7.find_elements(By.XPATH, '//a[@class="ellipsis"]')

Company7 = []

for i in company7[1::2]:

    Company7.append(i.get_attribute('title'))

In [406]:
skills7 = driver7.find_elements(By.XPATH, '//div[@class="hireSec highlightable"]')

Skills7 = []

for i in skills7:

    Skills7.append(i.text)

In [424]:
location7 = driver7.find_elements(By.XPATH, '//small[@class="ellipsis"]')

Location7 = []

for i in location7:
    Location7.append(i.text)

In [425]:
Location7.insert(28, '-')
Location7.insert(48, '-')

In [428]:
len(Name7), len(Designation7), len(Company7), len(Skills7), len(Location7)

(50, 50, 50, 50, 50)

In [429]:
driver7.close()

In [430]:
# creating dataframe
dt7={'Name':Name7,'Designation':Designation7, 'Company':Company7, 'Skills_required':Skills7, 'Location':Location7 }
Naukri_df7=pd.DataFrame(dt7)

# dataframe
Naukri_df7

,Name,Designation,Company,Skills_required,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting Co...,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad

========================================================================================================================

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [431]:
#first connect to webdriver
driver8=webdriver.Chrome(r'C:\Users\Ismail\Desktop\chromedriver.exe')
time.sleep(5)

In [432]:
# opening up website on automated webdriver
driver8.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [433]:
name8 = driver8.find_elements(By.XPATH, '//td[@class="left"]')

Name8 = []

for i in name8[1::5]:

    Name8.append(i.text)

In [434]:
author8 = driver8.find_elements(By.XPATH, '//td[@class="left"]')

Author8 = []

for i in author8[2::5]:

    Author8.append(i.text)

In [435]:
volumes_sold8 = driver8.find_elements(By.XPATH, '//td[@class="left"]')

Volumes_sold8 = []

for i in volumes_sold8[3::5]:

    Volumes_sold8.append(i.text)

In [436]:
publisher8 = driver8.find_elements(By.XPATH, '//td[@class="left"]')

Publisher8 = []

for i in publisher8[4::5]:

    Publisher8.append(i.text)

In [437]:
genre8 = driver8.find_elements(By.XPATH, '//td[@class="last left"]')

Genre8 = []

for i in genre8:

    Genre8.append(i.text)

In [438]:
len(Name8), len(Author8), len(Volumes_sold8), len(Publisher8), len(Genre8)

(100, 100, 100, 100, 100)

In [439]:
driver8.close()

In [440]:
# creating dataframe
dt8={'Book_name':Name8,'Author_name':Author8, 'Volumes_sold':Volumes_sold8, 'Publisher':Publisher8, 'Genre':Genre8}
Books_df8=pd.DataFrame(dt8)

# dataframe
Books_df8

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

==================================================================================================================

9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [441]:
#first connect to webdriver
driver9=webdriver.Chrome(r'C:\Users\Ismail\Desktop\chromedriver.exe')
time.sleep(5)

In [442]:
# opening up website on automated webdriver
driver9.get('https://www.imdb.com/list/ls095964455/')

In [443]:
name9 = driver9.find_elements(By.XPATH, '//h3[@class="lister-item-header"]/a')

Name9 = []

for i in name9:

    Name9.append(i.text)

In [444]:
year_span9 = driver9.find_elements(By.XPATH, '//span[@class="lister-item-year text-muted unbold"]')

Year_span9 = []

for i in year_span9:

    Year_span9.append(i.text)

In [445]:
genre9 = driver9.find_elements(By.XPATH, '//span[@class="genre"]')

Genre9 = []

for i in genre9:

    Genre9.append(i.text)

In [446]:
run_time9 = driver9.find_elements(By.XPATH, '//span[@class="runtime"]')

Run_time9 = []

for i in run_time9:

    Run_time9.append(i.text.replace('min',''))

In [447]:
ratings9 = driver9.find_elements(By.XPATH, '//span[@class="ipl-rating-star__rating"]')

Ratings9 = []

for i in ratings9[0::23]:

    Ratings9.append(i.text)

In [448]:
votes9 = driver9.find_elements(By.XPATH, '//p[@class="text-muted text-small"]')

Votes9 = []

for i in votes9[2::3]:

    Votes9.append(i.text.replace('Votes: ',''))

In [449]:
len(Name9), len(Year_span9), len(Genre9), len(Run_time9), len(Ratings9), len(Votes9)

(100, 100, 100, 100, 100, 100)

In [450]:
driver9.close()

In [451]:
# creating dataframe
dt9={'Name':Name9,'Year_span':Year_span9, 'Genre':Genre9, 'Run_time':Run_time9, 'Ratings':Ratings9, 'Votes': Votes9 }
IMDB_df9=pd.DataFrame(dt9)

# dataframe
IMDB_df9

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57,9.2,"2,001,934"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51,8.7,"1,055,833"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44,8.2,"952,340"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60,7.5,"284,629"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43,7.6,"244,401"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42,7.4,"48,997"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50,7.8,"59,738"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42,8.1,"191,338"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45,7.1,"40,453"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572,8.6,"230,036"

==================================================================================================================

10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [452]:
#first connect to webdriver
driver10=webdriver.Chrome(r'C:\Users\Ismail\Desktop\chromedriver.exe')
time.sleep(5)

In [453]:
# opening up website on automated webdriver
driver10.get('https://archive.ics.uci.edu/ml/index.php')

In [454]:
all_dataset=driver10.find_element(By.XPATH, '/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
all_dataset.click()

In [455]:
dataset_name10 = driver10.find_elements(By.XPATH, '//p[@class="normal"]/b/a')

Dataset_name10 = []

for i in dataset_name10:

    Dataset_name10.append(i.text)

In [456]:
datatype10 = driver10.find_elements(By.XPATH, '//p[@class="normal"]')

Datatype10 = []

for i in datatype10[9:4363:7]:
    if (i.text==' '):
        Datatype10.append('-')
    else:
        Datatype10.append(i.text)

In [457]:
task10 = driver10.find_elements(By.XPATH, '//p[@class="normal"]')

Task10 = []

for i in task10[10:4363:7]:
    if (i.text==' '):
        Task10.append('-')
    else:
        Task10.append(i.text)

In [458]:
attribute10 = driver10.find_elements(By.XPATH, '//p[@class="normal"]')

Attribute10 = []

for i in attribute10[11:4363:7]:
    if (i.text==' '):
        Attribute10.append('-')
    else:
        Attribute10.append(i.text)

In [459]:
instances10 = driver10.find_elements(By.XPATH, '//p[@class="normal"]')

Instances10 = []

for i in instances10[12:4363:7]:
    if (i.text==' '):
        Instances10.append('-')
    else:
        Instances10.append(i.text)

In [460]:
no_of_attribute10 = driver10.find_elements(By.XPATH, '//p[@class="normal"]')

No_of_attribute10 = []

for i in no_of_attribute10[13:4363:7]:
    if (i.text==' '):
        No_of_attribute10.append('-')
    else:
        No_of_attribute10.append(i.text)

In [461]:
year10 = driver10.find_elements(By.XPATH, '//p[@class="normal"]')

Year10 = []

for i in year10[14:4363:7]:
    if (i.text==' '):
        Year10.append('-')
    else:
        Year10.append(i.text)

In [462]:
len(Dataset_name10), len(Datatype10), len(Task10), len(Attribute10), len(Instances10), len(No_of_attribute10),  len(Year10)

(622, 622, 622, 622, 622, 622, 622)

In [463]:
driver10.close()

In [464]:
# creating dataframe
dt10={'Dataset_name':Dataset_name10,'Data_type':Datatype10, 'Task':Task10, 'Attribute_type':Attribute10, 'No_of_Instances':Instances10, 'No_of_attributes': No_of_attribute10, 'Year':Year10 }
Dataset_df10=pd.DataFrame(dt10)

# dataframe
Dataset_df10

,Dataset_name,Data_type,Task,Attribute_type,No_of_Instances,No_of_attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,-,Classification,-,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021